*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* ESTILOS DEL NAVEGADOR */
nav {
 background-image: url(http://www.webdeimagenes.net/Webmasters/Fondos-de-pantalla/Fondo-de-pantalla-11.gif);
 height: 80px;
}

 nav:hover{
 background: url(https://4.bp.blogspot.com/-v-X29yGVRX4/WJYfAOho1qI/AAAAAAAAAGk/Be6-3AO-krMslM7mM2E33wADF_yZ90k5QCLcB/s400/rain%2Bgif%2B5.gif);
 }
 nav ul li a:hover{
  color:rgb(240, 33, 71);
 }
 nav .animales a {
  margin-left: 2%;
  text-decoration: none;
  color: white;  
  font-size: 1em;
 }
 nav ul{
 margin-left: 40%; 
  }

 nav ul li {     
 width: 150px; 
 margin-left: 2%;
 font-size: 20px;
 display:inline-block;
 font-family: 'Times New Roman';
  
 }
 nav ul li a {
     text-decoration: none;
     color: white;
 }
   

/* ESTILOS DE LA PRIMERA SECCION  */
.col-xs-10 {
    /* background-color: rgb(137, 66, 66); */
    text-align: justify; 
    font-family: 'Bungee', cursive;
    height: 350px;  
}
.col-xs-2 {
    /* background-color: rgb(152, 234, 171); */
    font-size: 18px;
    height: 350px; 
}

.señorita {
border-radius: 50%;
height: 100px;
margin-left: 20px;
font-size: 75px;
}

/* ESTILOS DE LA SEGUNDA SECCION  */

.col-xs-4{
    height: 650px;
    /* background-color: rgb(164, 103, 191); */
    text-align: justify; 
    font-family: 'Bungee', cursive;    
}

section .col-xs-4 img {
    width: 350px;
    height: 350px;
}


/* ESTILOS PARA EL FOOTER  */

footer .col-xs-12  {
    background-color: rgb(54, 51, 51);
}

footer p {
  font-family:  'Lobster', cursive;
  text-align: center;
  color: white;
  font-size: 1.5em;
}